* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-color: #f2f2f2;
    font-family: 'Times New Roman', Times, serif;
}

/* INDEX */
#show_products {
    margin: 2rem 45% 1rem 35%;
    padding: 15px 40px;
}


.inputs {
    font-size: 20px;
    padding: 40px 40px;
    text-align: center;
    border: 2px dashed black;
    margin: 20px;
    border-radius: 20px;
    width: 60%;
    margin-left: 10%;
}

.inputs h1 {
    color: orangered;
    margin-bottom: 15px;
}

.inputs input {
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px 10px;
    border: 1px dashed gray;
    border-radius: 10px;
    width: 50%;
}

button {
    margin: 2rem;
    padding: 15px 18px;
    background-color: rgb(6, 205, 255);
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    opacity: 0.8;
    width: 250px;
}

button:hover {
    opacity: 1;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0.2, 0.2, 0.2, 0.2);
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
}


/*  */

#all_products {
    margin-left: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

img {
    max-width: 80%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid black;
}

.product-details {
    margin-bottom: 10px;
}

.product-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}